body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Hero section styles */
  .hero {
    background-image: url('ProgrammingIllustration.png');
    background-size: cover;
    background-position: center;
    height: 700px; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better readability */
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .hero .cta-button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out; /* Smooth hover effect */
  }
  
  .hero .cta-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  
  /* About section styles */
  .about-section {
    background-color: #f8f9fa;
    padding: 50px 20px;
    text-align: center;
  }
  
  .featured-courses {
    background-color: #78f098;
    padding: 50px 20px;
    text-align: center;
  }
  
  .course1 {
    margin-bottom: 30px;
  }
  
  .course1 img {
    max-width: 100%;
    height: auto;
  }
  
  .course1 h3 {
    margin-top: 10px;
  }

  /* Testimonials section styles */
  .testimonials {
    background-color: #333;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
  }
  
  .testimonial {
    margin-bottom: 30px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }